@import './base.css';

#app {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: var(--color-button);
}

button:hover {
    background-color: var(--color-button-hover);
    color: white;
}

.errorMessage {
    color: red;
    font-weight: bolder;
}

a,
.green {

}

@media (hover: hover) {
  a:hover {

  }
}

@media (min-width: 1024px) {
  body {

  }

  #app {

  }
}
