@import './base.css';

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: var(--color-button);
}

button:hover {
    background-color: var(--color-button-hover);
    color: white;
}

a,
.green {

}

@media (hover: hover) {
  a:hover {

  }
}

@media (min-width: 1024px) {
  body {

  }

  #app {

  }
}
